# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.210-cpp-functions-arrays-structs.iml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
